### Notebook: using jsonstat.py to explore ISTAT data (unemployment)
This Jupyter notebook shows how to use [jsonstat.py](http://github.com/26fe/jsonstat.py) python library to explore Istat data.
[Istat](http://www.istat.it/en/about-istat) is the Italian National Institute of Statistics. It publishs a rest api for browsing italian statistics. This api can return results in jsonstat format.

In [1]:
from __future__ import print_function
import os
import pandas as pd
from IPython.core.display import HTML
import matplotlib.pyplot as plt
%matplotlib inline

import istat

Next step is to set a cache dir where to store json files downloaded from Istat. Storing file on disk speeds up development, and assures consistent results over time. Eventually, you can delete donwloaded files to get a fresh copy.

In [2]:
cache_dir = os.path.abspath(os.path.join("..", "tmp", "istat_cached"))
istat.cache_dir(cache_dir)
istat.lang(0)  #italian
print("cache_dir is '{}'".format(istat.cache_dir()))

cache_dir is '/Users/26fe_nas/gioprj.on_mac/prj.python/jsonstat.py/tmp/istat_cached'

List all datasets contained into area `LAB` (Labour)

In [3]:
HTML(istat.area('LAB').datasets_as_html())

In [4]:
istat_forzlv = istat.dataset('LAB', 'DCCV_FORZLV')
HTML(istat_forzlv.info_dimensions_as_html(show_values=3))

In [5]:
spec = { 
    'Territorio':       'Italia',                            
    'Tipo dato':        'numero di forze di lavoro15 anni e oltre (valori in migliaia)',
    'Misura':           'valori assoluti',               
    'Sesso':            'totale',                           
    'Classe di età':    '15 anni e più',                            
    'Titolo di studio': 'totale', 
    'Cittadinanza':     'totale',                         
    'Tempo e frequenza': 0                    
}

df_forzlv = istat_forzlv.getvalues(spec).dataset(0).to_table(rtype=pd.DataFrame)
# df_forzlv

In [6]:
df_forzlv = df_forzlv.dropna()
df_forzlv = df_forzlv[df_forzlv['Tempo e frequenza'].str.contains(r'^T.*')]
df_forzlv.tail(6)

    Tempo e frequenza     Value
187           T2-2014  25419.15
188           T3-2014  25373.70
189           T4-2014  25794.44
190           T1-2015  25460.25
191           T2-2015  25598.29
192           T3-2015  25321.61

In [7]:
istat_inattiv = istat.dataset('LAB', 'DCCV_INATTIV')
HTML(istat_inattiv.info_dimensions_as_html(show_values=3))

In [8]:
spec = { 
    'Territorio': 'Italia',                            
    'Tipo dato':   0, #'numero di inattivi (valori in migliaia)',                           
    'Misura':     'valori assoluti',               
    'Sesso':      'totale',                               
    'Classe di età': '15 anni e più',                            
    'Titolo di studio': 'totale', 
    'Tempo e frequenza': 0                    
}

df_inattiv = istat_inattiv.getvalues(spec).dataset(0).to_table(rtype=pd.DataFrame)
# df_inattiv

In [9]:
df_inattiv = df_inattiv.dropna()
df_inattiv = df_inattiv[df_inattiv['Tempo e frequenza'].str.contains(r'^T.*')]
df_inattiv.tail(6)

,Tipo dato,Cittadinanza,Condizione professionale,None,Condizione dichiarata,Tempo e frequenza,Value
37152,numero di inattivi (valori in migliaia),totale,totale,totale,totale,T2-2014,26594.57
37153,numero di inattivi (valori in migliaia),totale,totale,totale,totale,T3-2014,26646.90
37154,numero di inattivi (valori in migliaia),totale,totale,totale,totale,T4-2014,26257.15
37155,numero di inattivi (valori in migliaia),totale,totale,totale,totale,T1-2015,26608.07
37156,numero di inattivi (valori in migliaia),totale,totale,totale,totale,T2-2015,26487.67
37157,numero di inattivi (valori in migliaia),totale,totale,totale,totale,T3-2015,26746.26

In [10]:
istat_inattiv = istat.dataset('LAB', 'DCCV_DISOCCUPT')
HTML(istat_inattiv.info_dimensions_as_html(show_values=3))

$$Forzalav = Occupati + Disoccupati$$